ACTION=="add", SUBSYSTEM=="video4linux", ATTR{name}=="camera0", SYMLINK+="webcams/picam"
ACTION=="add", SUBSYSTEM=="video4linux", ATTR{name}=="GENERAL WEBCAM: GENERAL WEBCAM", SYMLINK+="webcams/usb"
